<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="assets/img/mincepie.png" width="96px" height="96px"/>
  </a>
  <div class="media-body">
    <p class="media-heading">
      <strong>
      	<a href="https://github.com/Yangqing/mincepie">Mincepie: lightweighted Mapreduce</a>
      </strong>
    </p>
    <p class="abstract-text">
      A lightweighted mapreduce implementation purely written in Python. It's not the powerful yellow elephant, but is worth 30 minutes' learning time. Check <a href="https://gist.github.com/Yangqing/5596077" target="_blank">the script</a> that extracts gist features from all ImageNet images!
    </p>
  </div>
</div>

<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="assets/img/decaf.png" width="96px" height="96px"/>
  </a>
  <div class="media-body">
    <p class="media-heading">
      <strong>
      	<a href="http://decaf.no-ip.org">Decaf</a>
      </strong>
    </p>
    <p class="abstract-text">
    Decaf is a general python framework for deep convolutional neural networks, relying on a set of scientific computation modules (such as numpy/scipy) to efficiently run CNN models without the need of a GPU. Decaf is still under development but an imagenet classification demo could be checked out <a href="http://decaf.berkeleyvision.org">here</a>.
    </p>
  </div>
</div>
