<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="assets/img/cs188.png" width="96px" height="96px"/>
  </a>
  <div class="media-body">
    <p class="media-heading">
      <strong>
      	<a href="http://inst.eecs.berkeley.edu/~cs188/sp12/">CS188 Artificial Intelligence</a>
      </strong>, spring 2012.
    </p>
    <p class="abstract-text">
      Undergraduate AI course: search, CSP, games, MDP, Reinforcement Learning, Bayes' Nets, HMM, DBN, probabilistic inference, and a fun PacMan challenge.<br />
      Won the campus Outstanding GSI Award.
    </p>
  </div>
</div>

<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="assets/img/cs281a.png" width="96px" height="96px"/>
  </a>
  <div class="media-body">
    <p class="media-heading">
      <strong>
      	<a href="http://inst.eecs.berkeley.edu/~cs281a/"> CS281a/Stat241a Statistical Learning Theory</a>
      </strong>, fall 2011.
    </p>
    <p class="abstract-text">
      Graduate level course: graphical models, probabilistic inference, parameter estimation, regression, exponential family, EM and HMM, factor analysis, Junction Tree Algorithm, Monte Carlo, Variational Inference, etc.
    </p>
  </div>
</div>