<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="assets/img/cs188.png" width="96px" height="96px"/>
  </a>
  <div class="media-body">
    <p class="media-heading">
      <strong>
      	<a href="https://github.com/Yangqing/mincepie">Mincepie: lightweighted Mapreduce</a>
      </strong>
    </p>
    <p class="abstract-text">
      An lightweighted mapreduce implementation purely written in Python. It's not the powerful yellow elephant, but is worth 30 minutes' learning time. Check <a href=#>the script</a> that extracts gist from all ImageNet images!
    </p>
  </div>
</div>
